In [1]:
tuple1 = ("disco",10,1.2)
tuple1

('disco', 10, 1.2)

In [2]:
type (tuple1)

tuple

Tuple1[0]="disco"
Tuple1[1]=10
Tuple1[2]=1.2

In [3]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [4]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
Tuple1[-3]="disco"
Tuple1[-2]=10
Tuple1[-1]=1.2

In [7]:
tuple1[-1]

1.2

In [9]:
tuple1[-2]

10

In [10]:
tuple1[-3]

'disco'

In [11]:
tuple2= tuple1 + ("hard rock",10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [12]:
tuple2[0:3]

('disco', 10, 1.2)

In [13]:
tuple2[3:5]

('hard rock', 10)

In [14]:
len(tuple2)

5

In [15]:
len(tuple1)

3

In [18]:
Ratings = (0,9,6,5,10,8,9,6,2)
Ratings

(0, 9, 6, 5, 10, 8, 9, 6, 2)

# sort the tuple

In [19]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
# create a nest tuple

In [ ]:
NestedT[0]=1
NestedT[1]=2
NestedT[2]="pop","rock"
NestedT[3]=3,4
NestedT[4]="disco",1,2

In [33]:
NestedT= (1,2,("pop","rock"),(3,4),("disco",1,2))

In [34]:
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', 1, 2))

In [ ]:
# Print element on each index

In [35]:
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', 1, 2)

In [ ]:
# Print element on each index, including nest indexes

In [40]:
print("Element 2,0 of Tuple: ", NestedT[2][0])
print("Element 2,1 of Tuple: ", NestedT[2][1])
print("Element 3,0 of Tuple: ", NestedT[3][0])
print("Element 3,1 of Tuple: ", NestedT[3][1])
print("Element 4,0 of Tuple: ", NestedT[4][0])
print("Element 4,1 of Tuple: ", NestedT[4][1])

Element 2,0 of Tuple:  pop
Element 2,1 of Tuple:  rock
Element 3,0 of Tuple:  3
Element 3,1 of Tuple:  4
Element 4,0 of Tuple:  disco
Element 4,1 of Tuple:  1

In [ ]:
# Print the first element in the second nested tuples

In [41]:
NestedT[2][1][0]

'r'

In [ ]:
# Print the second element in the second nested tuples

In [43]:
NestedT[2][1][1]

'o'

In [ ]:
# Print the first element in the second nested tuples

In [51]:
NestedT[4][1]

1

In [ ]:
# Print the second element in the second nested tuples

In [56]:
NestedT[4][2]

2

In [ ]:
# Print the first element in the first nested tuples

In [58]:
NestedT[4][0][0]

'd'

In [ ]:
# Print the second element in the first nested tuples

In [59]:
NestedT[4][0][1]

'i'